body {
    width: 100vw;
    overflow-x: hidden;
    background: white;
    font-family: 'Gotham HTF';
    font-weight: 500;
    font-style: normal;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../imgs/fundoDesk.jpg);
    background-size: cover;
    background-position: center center;
}

img {
    height:intrinsic;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.rownopad {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
}


form .feedback {
    margin-top: 10px;
    padding: 10px;
    background-color: #E6332A;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

form {
    padding: 15px 0;
    max-width: 700px;
}


.logo {
    padding: 0 30px;
    width: 100%;
}

.logo img {
    width: 100%;
}
.cadastro {
    display: none;
}
.cadastro .logo {
    margin: 1rem 0 ;
}

h1 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: initial;
    margin: 0.5rem 0;
}

.txtLogin h1 {
    color: #25508E;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 1.5rem;
}

input[type="text"],
input[type="email"] {
    border: 1px solid #25508E;
    outline: none;
    padding: 0.5rem 1rem 0.5rem;
    font-weight: normal;
    font-style: normal;
}

form input[type="checkbox"]{
    opacity: 0;
    width: 0;
    height: 0;
}

form label {
    font-weight: 500;
    margin: 0.15rem 0;
}

form label .checkbox__control {
    display: inline-block;
    box-sizing: content-box;
    vertical-align: sub;
    width: 1.1rem;
    height: 1.1rem;
    margin: 3px 5px 0 -36px;
    border-radius: 0;
    border: 0.1em solid black;
}

form label .checkbox__control:focus, form label .checkbox__control:focus-within, form label .checkbox__control:active {
    box-shadow: none;
}

form label .checkbox__control svg {
    margin-bottom: 15px;
    transform: scale(0);
}
form .termos {
    width: calc(70% - 70px);
    margin-left: 0px;
}

form .termos span {
    font-weight: normal;
    font-style: normal;
    color: #25508E;
}

form .termos span a {
    color: #007AFF;
}

form label span p {
    width: calc(100% - 40px);
    display: inline-block;
}

form label input:checked + .checkbox__control svg {
    transform: scale(1);
}

form label input:focus + .checkbox__control {
     box-shadow: 0 0 0 0.05em rgba(255, 255, 255, 0.068), 0 0 0.15em 0.1em black;
}

button[type="button"] {
    background: linear-gradient(to right,
                                #25508E 10%,
                                #4597EF 90%);
    border: none;
    border-radius: 5px;

    font-size: 1rem;
    color: white;

    padding: 0.4rem 2rem 0.5rem;
    margin: 2rem 0 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    font-style: normal;
}

.janssen-logo {
    position: absolute;
    bottom: 2rem;
    right: 2rem;

    width: 300px;
    height: auto;
}

.login .janssen-logo-mobile {
    margin: 3rem 0;
}

.cadastro .janssen-logo-mobile {
    padding-bottom: 10vh;
}

.det-canto {
    position: absolute;
    top: 0;
    left: 0;

    width: 30vw;
    height: auto;
}

form {
  	scrollbar-width: none;
}

/* Works on Chrome, Edge, and Safari */
form::-webkit-scrollbar {
 	 width: 0px;
}

form::-webkit-scrollbar-track {
 	 background: transparent;
}

form::-webkit-scrollbar-thumb {
	background-color: transparent;
	border-radius: 0px;
	border: none;
}
.fntBlack {
    font-family: 'Gotham HTF';
    font-weight: 900;
}
.initialPhrase {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 1.2rem;
    padding: 10px 4px;
    margin: 40px 0;
    background: #3F93F0;
}

.btnLogin {
    margin-bottom: 100px;
}

.spacingBot {
    width: 100%;
    height: 10px;
}

.wid70 {
    left: 15%;
    width: 70%;
}

.wid80 {
    left: 10%;
    width: 80%;
}

form#form-cadastro input[type="text"], form#form-cadastro input[type="email"] {
    margin-bottom: 10px;
}

form#form-cadastro input[type="text"]:disabled, form#form-cadastro input[type="email"]:disabled {
    background: white;

}

button[type="button"].btn {
    background: #25508E;
    border: none;
    border-radius: 5px;

    font-size: 1rem;
    color: white;

    padding: 0.4rem 2rem 0.5rem;
    margin: 0rem 0 1.25rem;
    font-size: 1.2rem;
    font-weight: 500;
    font-style: normal;
}

footer h5 {
    width: 100%;
    text-align: center;
    font-weight: normal;
    font-size: 1rem;
    color: #25508E;
    padding: 20px 0;
}
footer {
    text-align: center;
}

footer img {
    position: relative;
    width: 300px;
    margin: 0 auto;
}