@media screen and (max-width: 1300px) {
    form {
        width: 90%;
        max-width: 500px;
    }

    .initialPhrase {
        font-size: 1rem;
        margin: 20px 0;
    }
    
    .login .logo {
        margin: 2rem 0 0.75rem;
    }

    .wid70 {
        left: 10%;
        width: 80%;
    }
    form .termos {
        width: calc(80% - 70px);
        margin-left: 0px;
    }

}

@media screen and (max-width: 992px) {
    .detalhe {
        display: none;
    }

    .janssen-logo-mobile {
        display: block;
    }
}
@media screen and (max-width: 720px) {
    #bg {
        background-image: url(../imgs/fundoMobile.jpg);
        background-position: left top;
    }

    .wid70 {
        left: 0%;
        width: 100%;
    }
    form .termos {
        width: calc(100% - 70px);
        margin-left: 0px;
    }

    button[type="button"].btn {
        background: #25508E;
        border: none;
        border-radius: 5px;
    
        font-size: 1rem;
        color: white;
    
        padding: 0.4rem 2rem 0.5rem;
        margin: 0rem 0 1.25rem;
        font-size: 1rem;
    }
    footer img {
        width: 200px;
    }

}

@media screen and (max-width: 576px) {

    h1 {
        font-size: 1rem;
    }

    input[type="text"],
    input[type="email"] {
        font-size: 1rem;
    }

    button[type="button"] {
        width: 100%;
        font-size: 1rem;
        margin: 2rem 0 1rem;
    }

    .initialPhrase {
        font-size: 0.9rem;
        margin: 20px 0;
    }
    .logo {
        padding: 0 0px;
    }
    form .feedback {
        font-size: 0.8rem;
    }

}