:root {
    --lightboxWidth: 1100px;
    --lightboxHeight: 800px;
    --accentColor: #004D9B;
    --lightAccentColor: #B3CAE1;
    --fotoOffsset: calc(215px + 1.5rem);
    --videoWidth: 95vw;
    --videoHeight: calc(9 * var(--videoWidth) / 16);
    --maxHeight: 95vh;
    --maxWidth: calc(16 * var(--maxHeight) / 9);
    --chatWidth: 50px;
}

.btn-close {
    background: url(../imgs/btn-fechar.svg) center no-repeat;
    background-size: 75%;
    opacity: 1;
    margin: 0 !important;
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 9;
    padding: 0;
    width: 25px;
    height: 25px;
    border: 0;
}

.modal-dialog {
    max-width: max-content;
    margin: 1rem auto;
    width: max-content;
}

.modal-content {
    position: relative;
    background-color: white;
    border: none;
    border-radius: 0.5rem;
    width: var(--lightboxWidth);
    height: 750px;
    max-height: calc(100vh - 3.5rem);
}

#agendaModal .modal-content {
    height: auto;
    max-height: calc(100vh - 3.5rem);
}

.modal-header {
    background-color: var(--lightAccentColor);
    padding-left: 0;
}

.modal-body {
    scrollbar-width: thin;
    scrollbar-color: #3c3c3b var(--lightAccentColor);
}
div::-webkit-scrollbar {
    width: 4px;
}

div::-webkit-scrollbar-track {
    background: #D8D8D8;
    border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
    background: #3c3c3b;
    border-radius: 10px;
}

div::-webkit-scrollbar {
    width: 4px;
}

.modal-body::-webkit-scrollbar-track {
    background: #D8D8D8;
    border-radius: 10px;
}

.modal-body::-webkit-scrollbar-thumb {
    background: #3c3c3b;
    border-radius: 10px;
}

.titulo {
    font-weight: 500;
    font-size: 1.75rem;
    color: var(--accentColor);
    margin: 0;
}

#salaModal .modal-body {
    position: initial;
    overflow-y: scroll;
}

#salaModal .titulo {
    /* margin-left: var(--fotoOffsset); */
}

.palestrante-foto {
    position: absolute;
    top: 0;
    left: 0;
    width: 215px;
    height: auto;
}

#salaModal h1 {
    font-weight: 600;
    color: var(--accentColor);
}

#salaModal h3 {
    color: var(--accentColor);
    font-size: 1.35rem;
    margin: 0.5rem 0 0 0;
}

#salaModal .comite {
    margin-top: 1rem;
}

#salaModal .comite-item img {
    width: 150px;
    height: auto;
    display: inline;
    margin-left: -170px;
    margin-right: 10px;
}

#salaModal .comite-item .descricao {
    margin: -0.75rem 0 0.5rem;
}

#salaModal h4 {
    display: inline;
    font-size: 1rem;
    margin: 0 0 1rem;
}

#salaModal span {
    /*display: block;
    font-weight: 300;
    line-height: 1.25; */
}

#salaModal .residentes {
    margin-top: 1rem;
}

#salaModal ol {
    font-weight: 300;
    font-size: 1rem;
    line-height: 2.75;
    padding: 0;
}

#agendaModal .modal-header {
    padding-left: 1rem;
    justify-content: center;
}

#agendaModal .modal-body {
    padding: 0;
    margin: 0rem;
    overflow-y: auto;
}

td, th {
    border: 0px solid white;
    padding: 0.25rem 1rem;
}

th {
    padding: 0.1rem 1.25rem;
    font-size: 1.35rem;
    font-weight: 900;
}

.cabecalho {
    width: 100%;
    background-color: var(--accentColor);
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
}

.agenda-table {
    width: 100%;
    border-spacing: 1px;
    font-weight: normal;
    color: #004D9B;
}

.agenda-table tr:nth-child(2n+1) {
    /* background-color: var(--lightAccentColor); */
}

.agenda-table tr:nth-child(2n) {
    background-color: #E4ECF5
}
.agenda-table tr th:nth-child(1), .agenda-table tr th:nth-child(3) {
    text-align: center;
    
}

.agenda-table tr th {
    border-bottom: 1px solid #004D9B;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.agenda-table tr td {
    padding: 0.5rem 0.5rem;
}
.agenda-table tr td:nth-child(1) {
    text-align: center;
    width: 16%;
}
.agenda-table tr td:nth-child(2) {
    border-left: 1px solid #004D9B;
    border-right: 1px solid #004D9B;
}

.agenda-table tr td:nth-child(3) {
    text-align: center;
    width: 30%;
}

.manha {
    margin-bottom: 0rem;
}

#plenariaModal .modal-content, #plenariaModal2 .modal-content {
    height: max-content;
    max-width: 700px;
}

#plenariaModal .modal-body, #plenariaModal2 .modal-body {
    display: flex;
    align-items: center;
    padding-bottom: 0; 
    background: url(../imgs/fundoModais.png);
    background-repeat: no-repeat;
    background-position-x: 200%;
    background-position-y: top;
    background-size: 70%;
}

#plenariaModal .modal-body .hello, #plenariaModal2 .modal-body .hello {
    justify-content: center;
    text-align: center;
}
#plenariaModal .modal-body .hello img, #plenariaModal2 .modal-body .hello img {
    width: 60%;
    padding: 20px 0 0;
}

#plenariaModal .modal-body .hello .initialPhrase, #plenariaModal2 .modal-body .hello .initialPhrase {
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    color: white;
    font-size: 0.8rem;
    padding: 10px 20px;
    margin: 30px auto;
    background: #3F93F0;
    max-width: calc(90% - 30px);
}

#plenariaModal .modal-body .bgblue, #plenariaModal2 .modal-body .bgblue {
    background: #25508E;
    padding: 60px 80px;
}

#plenariaModal .modal-body .bgblue h3, #plenariaModal2 .modal-body .bgblue h3 {
    color: white;
    font-weight: normal;
    margin-bottom: 0;
    line-height: 2rem;
    align-self: center;
    text-align: left;
}

#plenariaModal2 .modal-body .bgblue h3 span{
    font-weight: bold;
}

#plenariaModal .modal-body .bgblue img, #plenariaModal2 .modal-body .bgblue img {
    width: 70%;
    align-self: center;
}

#plenariaModal .modal-body .bgblue .colPlis, #plenariaModal2 .modal-body .bgblue .colPlis {
    text-align: center;
    justify-content: center;
    display: flex;
}

#plenariaModal .modal-footer, #plenariaModal2 .modal-footer {
    background: #3F93F0;
    justify-content: center;
    border: none;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

#plenariaModal h1, #plenariaModal2 h1 {
    font-weight: bold;
    color: var(--accentColor);
    font-size: 3.5rem;
}

#plenariaModal h2, #plenariaModal2 h2 {
    font-weight: bold;
    font-size: 1.75rem;
    color: white;
    text-align: center;
}

#plenariaModal h3, #plenariaModal2 h3 {
    font-weight: 600;
    color: var(--accentColor);
    font-size: 1.5rem;
}

#plenariaModal .yep-logo img, #plenariaModal2 .yep-logo img {
    max-width: 100%;
    width: 200px;
    height: auto;
}

#pesquisaModal .modal-content, #janssenModal .modal-content {
    height: max-content;
    max-width: 800px;
    overflow-y: auto;
}

#pesquisaModal .modal-body, #janssenModal .modal-body {
    display: flex;
    align-items: center;
    padding: 3rem;
}

#pesquisaModal .modal-body div, #janssenModal .modal-body div {
    display: grid;
    place-content: center;
}

#pesquisaModal .pesquisa-texto, #janssenModal .pesquisa-texto {
    width: 80%;
    padding-right: 4rem;
}

#pesquisaModal .pesquisa-img {
    width: 20%;
}

#pesquisaModal .modal-footer {
    background: linear-gradient(90deg,
                                #0058a9 0%,
                                #0058a9 10%,
                                #00b3ef 80%,
                                #00b3ef 100%);
    justify-content: center;
    border: none;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

#pesquisaModal h1 {
    font-weight: bold;
    color: #25508E;
    font-size: 3.25rem;
}

#pesquisaModal h2 {
    font-weight: bold;
    font-size: 1.75rem;
    color: white;
    text-align: center;
}

#pesquisaModal h3 {
    font-weight: normal;
    color: #25508E;
    font-size: 1rem;
}

#pesquisaModal .pesquisa-img img {
    max-width: 100%;
    width: 200px;
    height: auto;
}

#janssenModal .sala-button{
    background: linear-gradient(to right, #25508E 10%, #4597EF 90%);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    padding: 0.4rem 2rem 0.5rem;
    margin: 0.5rem 1rem 0;
    font-size: 1.1rem;
    font-weight: 500;
    font-style: normal;
    min-width: 320px;
    max-width: 320px;
}

@keyframes notificacao {
    from {
        right: -420px;
    }
    to {
        right: 0px;
    }
}

.notif {
    position: fixed;
    top: 50px;
    right: -420px;

    width: 420px;
    height: 125px;

    animation-name: notificacao;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    background-color: white;
    background: linear-gradient(90deg,
                                #0058a9 0%,
                                #0058a9 10%,
                                #00b3ef 80%,
                                #00b3ef 100%), white;
    background-size: 100% 20%;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding-left: 1rem;
}

.notif img {
    width: 100px;
}

.notif span {
    height: max-content;
    font-size: 0.9rem;
    color: var(--accentColor);
    padding-left: 1rem;
    margin-bottom: 1rem;
}

#zoom img {
    width: 85px;
    margin-top: 1.25rem;
}

#zoom span {
    padding: 0 1rem;
    display: block;
    margin-bottom: 0.5rem;
}

#zoom a {
    font-weight: bold;
    padding-left: 1rem;
    padding-top: 1rem;
}

#zoom .not-text {
    align-self: flex-end;
    margin-bottom: 1rem;
}

@keyframes idioma-ani {
    from {
        width: 50px;
    }
    to {
        width: 250px;
    }
}

@keyframes wpp-ani {
    from {
        width: 50px;
    }
    to {
        width: 200px;
    }
}

.wpp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: var(--chatWidth);
    height: var(--chatWidth);
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
    animation-name: wpp-ani;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    background: url(../imgs/wpp-txt.svg), white;
    background-repeat: no-repeat;
    background-position: 25% 50%;
    background-size: 60%;
}
/*
.wpp-btn:hover {
    animation-name: wpp-ani;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    background: url(../imgs/wpp-txt.svg), white;
    background-repeat: no-repeat;
    background-position: 25% 50%;
    background-size: 50%;
}
*/
.wpp-btn img {
    width: var(--chatWidth);
    height: var(--chatWidth);
    float: right;
}
.idioma-btn {
    z-index: 9999;
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: var(--chatWidth);
    height: var(--chatWidth);
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}

.idioma-btn:hover {
    animation-name: idioma-ani;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    background: url(../imgs/idioma-txt.svg), white;
    background-repeat: no-repeat;
    background-position: 25% 50%;
    background-size: 70%;
}

.idioma-btn img {
    width: var(--chatWidth);
    height: var(--chatWidth);
    float: right;
}
.linkMail{
    background: transparent !important;
    color: white !important;
    text-decoration: underline !important;
}

#idioma .chat-wrapper {
    z-index: 9999;
    position: fixed;
    bottom: 20px;
    right: 80px;
    width: 300px;
    height: 400px;
    max-width: calc(100% - (var(--chatWidth)) - 20px - 30px);
    background-color: white;
    border-bottom: 8px solid #3F93F0;
}

#idioma .chat-titulo {
    padding: 1rem;
    height: 56px;
    border-bottom: 8px solid #25508E;
}

#idioma .chat-titulo h5{
    text-align: center;
    font-weight: bold;
    color: var(--accentColor);
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
}

#idioma .idioma-body {
    display: flex;
    height: calc(400px - 56px);
    overflow-y: auto;
    padding: 15px 0;
}
  
#idioma .idioma-body .form-group {
    width: calc(100% - 30px);
    padding: 0px 10px;
    margin-bottom: 10px;
}

#idioma .idioma-body .form-group.checkboxLogin {
    border: 2px solid #25508E;
    position: relative;
}

#idioma .idioma-body .form-group.checkboxLogin:hover {
    background: #F4F4F4;
    transition: all 0.5s;
}

#idioma .idioma-body .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

#idioma .idioma-body .form-group label {
    position: relative;
    cursor: pointer;
    width: calc(100%);
    left: 0px;
    padding: 5px 0;
    color: #25508E;
    font-size: 0.8rem;
    display: inline-flex;
    margin-bottom: 0;
}
#idioma .idioma-body .form-group label div {
    display: flex;
    align-items: center;
    
}

#idioma .idioma-body .form-group label div.imgRadio {
    width: 40px;
}
#idioma .idioma-body .form-group label div.txtRadio {
    width: calc(100% - 40px);
}

#idioma .idioma-body .form-group label span {
    display: inline;
    
    padding-left: 10px;
    align-content: center;
}

#idioma .idioma-body .form-group label img {
    width: 40px;
    height: 40px;
    display: inline;
}

#idioma .idioma-body .form-group label:after {
    content:'';
    -webkit-appearance: none;
    background-color: none;
    border: 0px;
    position: absolute;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 0px;
    right: -10px;
    height: 100%;
    width: 7px;
    top: 0;
}

#idioma .idioma-body .form-group input:checked + label:before {
    content:'';
    -webkit-appearance: none;
    background-color: #3F93F0;
    border: 0;
    position: absolute;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 0px;
    right: -10px;
    height: calc(100% + 1px);
    width: 7px;
    top: 0;
    z-index: 2;
}

#idioma .idioma-body h3 {
    width: 100%;
    padding: 0 15px 15px 15px;
    text-align: center;
    color: #25508E;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
}

#idioma .idioma-body .btn {
    background: #25508E;
    border-radius: 400px;
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: .5rem 2rem;
}

#idioma .idioma-body .btn:hover {
    background: #103663;
}

#idioma .btn-fechar {
    position: absolute;
    right: 0.75rem;
    top: 1rem;
    width: 1rem;
    height: 1rem;
    background-image: url(../imgs/btn-fechar.svg);
    cursor: pointer;
}

#idioma .chat-iframe {
    height: calc(100% - 3.5rem);
    border: 0;
}





#chat, #idioma {
    z-index: 9999;
}

@keyframes chat-ani {
    from {
        width: 50px;
    }
    to {
        width: 110px;
    }
}

.chat-btn {
    z-index: 9999;
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: var(--chatWidth);
    height: var(--chatWidth);
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}

.chat-btn:hover {
    animation-name: chat-ani;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    background: url(../imgs/chat-txt.svg), white;
    background-repeat: no-repeat;
    background-position: 15% 50%;
    background-size: 40%;
}

.chat-btn img {
    width: var(--chatWidth);
    height: var(--chatWidth);
    float: right;
}

#chat .chat-wrapper {
    z-index: 9999;
    position: fixed;
    bottom: 20px;
    right: 80px;
    width: 300px;
    max-width: calc(100% - (var(--chatWidth)) - 20px - 30px);
    height: 400px;
    background-color: white;
    border-bottom: 8px solid #3F93F0;
}

#chat .chat-titulo {
    padding: 1rem;
    height: 3.5rem;
    border-bottom: 8px solid #25508E;
}

#chat .chat-titulo h5{
    text-align: center;
    font-weight: bold;
    color: var(--accentColor);
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
}

#chat .btn-fechar {
    position: absolute;
    right: 0.75rem;
    top: 1rem;
    width: 1rem;
    height: 1rem;
    background-image: url(../imgs/btn-fechar.svg);
    cursor: pointer;
}

#chat .chat-iframe {
    border: 0;
    height: calc(100% - 3.5rem);
}

#videoModal .modal-dialog, #videoModalPlenaria .modal-dialog  {
    margin: 0;
}

#videoModal .modal-content, #videoModalPlenaria .modal-content {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    background: transparent;
}

#videoModal .modal-dialog {
    margin: 1.5rem auto;
}
#videoModal .btn-close {
    background: url(../imgs/btn-fecharWhite.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#videoModal, #videoModalPlenaria {
    background: rgba(0, 0, 0, 0.247);
}
#videoModal .modal-body, #videoModalPlenaria .modal-body {
    
    display: grid;
    place-content: center;
    padding: 0;
}

#videoModal iframe, #videoModalPlenaria iframe {
    background-color: black;
    width: var(--videoWidth);
    height: var(--videoHeight);
    max-width: var(--maxWidth);
    max-height: var(--maxHeight);
}

/* TAMANHOS RESPONSIVOS */
@media screen and (max-width: 1400px) {
    :root {
        --lightboxWidth: 1000px;
        --lightboxHeight: 680px
    }
}

@media screen and (max-width: 1200px) {
    :root {
        --lightboxWidth: 960px;
        --lightboxHeight: 640px
    }
}

@media screen and (max-width: 992px) {
    :root {
        --lightboxWidth: 720px;
        --lightboxHeight: 540px
    }
}

@media screen and (max-width: 768px) {
    :root {
        --lightboxWidth: 540px;
        --lightboxHeight: max-content;
    }
    #plenariaModal .modal-body .bgblue, #plenariaModal2 .modal-body .bgblue {
        background: #25508E;
        padding: 30px 30px;
    }
    #plenariaModal .modal-body .bgblue .colPlis h3, #plenariaModal2 .modal-body .bgblue .colPlis h3 {
        font-size: 1rem;
        line-height: 1.4rem;
    }
    #plenariaModal h2, #plenariaModal2 h2 {
        font-size: 1rem;
    }
    #idioma .idioma-body .form-group {
        width: calc(100% - 10px);
    }
    #idioma .idioma-body h3 {
        padding: 5px;
        font-size: 0.8rem;
    }
    #idioma .chat-wrapper {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 300px;
        height: 400px;
        max-width: calc(100% - 20px - 20px);
        background-color: white;
        border-bottom: 8px solid #3F93F0;
    }
    #chat .chat-wrapper {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 300px;
        height: 400px;
        max-width: calc(100% - 20px - 20px);
        background-color: white;
        border-bottom: 8px solid #3F93F0;
    }
  
}

@media screen and (max-width: 576px) {
    :root {
        --lightboxWidth: 90vw;
    }
    .modal-content, #agendaModal .modal-content {
        max-height: calc(100vh - 5rem);
    }
    #pesquisaModal .pesquisa-texto h3 {
        font-size: 0.9rem;
        
    }
}

/* RESPONSA EM SI */
@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1200px) {
    .titulo {
        padding-left: 1.5rem;
    }

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

    .titulo {
        font-size: 1.40rem;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 30px;
        line-height: 1.2rem;
    }

    #salaModal .modal-header {
        border: none;
    }

    #salaModal .modal-body {
        position: relative;
    }

    #salaModal .coord-wrapper {
        margin-left: 8rem;
    }

    .palestrante-foto {
        top: -1px;
    }

   #pesquisaModal h1 {
       font-size: 3rem;
   }

   #pesquisaModal h2 {
       font-size: 1.5rem;
   }
    .agenda-table tr th {
        padding: 0.5rem;
        font-size: 0.8rem;
    }
    .agenda-table tr td {
        font-size: 0.7rem;
    }
    .agenda-table tr td:nth-child(1) {
        width: 4%;
    }
    
    .agenda-table tr td:nth-child(3) {
        width: 5%;
    }
    
}

@media screen and (max-width: 576px) {
    #salaModal .coord-wrapper {
        margin-left: -4rem;
        margin-top: 13rem;
    }

    #plenariaModal .yep-logo, #plenariaModal2 .yep-logo {
        margin: 1rem 0 2rem;
    }

    #pesquisaModal .modal-body, #janssenModal .modal-body {
        flex-direction: column-reverse;
        padding: 20px;
    }

    #pesquisaModal .modal-body div, #janssenModal .modal-body div {
        width: 100%;
    }

    #pesquisaModal .pesquisa-texto, #janssenModal .pesquisa-texto {
        padding: 0;
    }

    #pesquisaModal .pesquisa-img {
        margin: 1rem 0 2rem;
    }

    #pesquisaModal .pesquisa-img img {
        width: 100px;
    }

    #pesquisaModal h1 {
        font-size: 1.5rem;
    }

    #pesquisaModal h2 {
        font-size: 0.9rem;
    }
}