

@media screen and (max-width: 1400px) {
    #modalCarouselTxtImg .modal-content {
        width: 450px;
    }
    #modalCarouselTxtImg .carousel-item p {
        font-size: 0.9rem;
    }
    #modalCarouselPipeline .modal-content {
        
    }
}


@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {
    .modal section .itemPalestrante .col-md-3 {
        text-align: center;
        padding-right: 20px;
    }
    .modal section .itemPalestrante img {
        padding-top: 30px;
        width: 170px;
    }

    .modal section .itemPalestrante .comite {
        font-size: 1rem;
        padding-top: 0px;
    }
    .modal section .tittle h1 {
        font-size: 1.7rem;
    }
    .modal section .tittle h5 {
        font-size: 1rem;
    }

    #pesquisaModal .modal-body, #janssenModal .modal-body {
        background: url(../imgs/fundoModais.png);
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 0;
        background-size: 100%;
    }
    #modalCarouselTxtImg .carousel-item .textCarousel{
        padding: 0px 30px 25px;
    }
    #modalCarouselTxtImg .carousel-item p {
        font-size: 0.8rem;
    }
    #modalCarouselPipeline .carousel-control-next, #modalCarouselPipeline .carousel-control-prev {
        width: 25px;
    }
    #modalCarouselPipeline .carousel-control-prev {
        left: -25px;
    }
    #modalCarouselPipeline .carousel-control-next {
        right: -25px;
    }
    #modalCarouselPipeline .modal-dialog {
        max-width: calc(100% - 60px);
    }
    html, body {
        --widthModalPipeline: calc(100vw - 4rem);
        --heightModalPipeline: calc(100vh - 10rem);
    }

    #modalCarouselPipeline .carousel-indicators li {
        width: 10px;
        height: 8px;
    }
}

@media screen and (max-width: 576px) {
}


@media screen and (max-height: 850px) {
    #modalCarouselPipeline .modal-content {
        
    }
}

@media screen and (max-height: 750px) {
    #modalCarouselPipeline .modal-content {
        
    }
}

@media screen and (max-height: 650px) {
    #modalCarouselPipeline .modal-content {
        
    }
}