/* -------------- Anubis ------------- */
html, body
{
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    font-family: 'Gotham HTF';
    font-weight: 500;
    font-style: normal;
    --widthModalPipeline: calc(100vw - 5rem);
    --heightModalPipeline: calc(100vh - 5rem);
}

/* .videoLoadingDiv
{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    z-index: 999999;
}
.videoLoadingDiv img
{
    width: intrinsic;
} */

img {
    height:intrinsic;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



.popLoad {
	position: fixed;
	background: white;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999999;
	overflow: hidden;
	transition: all 0.3;
}

.popLoad .spinner-border {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	color: #004d9a;
	border-width: .3rem;
	transition: all 0.3;
}
.rownopad {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	padding-right: 0;
}


/* -------------- GERAL ------------- */
.btn-teste {
    position: fixed;
    bottom: 30px;
    left: 20px;
}

.btn-teste-2 {
    position: fixed;
    bottom: 70px;
    left: 20px;
}

.btn-teste-3 {
    position: fixed;
    bottom: 110px;
    left: 20px;
}

.btn-teste-4 {
    position: fixed;
    bottom: 150px;
    left: 20px;
}

.btn-teste-5 {
    position: fixed;
    bottom: 190px;
    left: 20px;
}


.modal section .itemPalestrante .col-md-8 {
    border-bottom: solid 1px #004D9B;
    padding-bottom: 20px;
}

.modal section .itemPalestrante:last-child .col-md-8 {
    border-bottom: 0;
    padding-bottom: 40px;
}

.modal section .itemPalestrante .col-md-3 {
    text-align: right;
    padding-right: 20px;
}

.modal section .itemPalestrante img {
    width: 50%;
}

.modal section .itemPalestrante .comite {
    padding-top: 40px;
}

.modal section .itemPalestrante p {
    font-weight: normal;
    font-style: normal;
    margin: 0.75rem 0;
}

.modal section .itemPalestrante p span {
    color: #004d9a;
    font-weight: 500;
}

.modal section .itemPalestrante h5 {
    background-color: #004d9a;
    color: white;
    font-weight: 300;
    font-style: italic;
    padding: 5px 10px;
    display: inline;
    font-size: 1rem;
}


.modal section .tittle h1 {
    font-size: 2.3rem;
    letter-spacing: -2px;
}
.modal section .tittle h5 {
    font-weight: normal;
    color: #004D9B;
}

.modal section .modal-header {
    min-height: 58px;
    padding: 0.75rem;
}

.modal section .modal-header .titulo{
    width: 100%;
    text-align: center;
}

.modal section .modal-body {
    background: url(../imgs/fundoModais.png);
    background-repeat: no-repeat;
    background-position-x: 150%;
    background-position-y: center;
    background-size: 60%;
    font-family: 'Gotham HTF';
    font-weight: 500;
    padding: 15px;
    font-style: normal;
}
.fntBlack {
    font-weight: 900;
}

.modal-dialog-centered {
    max-height: calc(100% - 2rem);
    min-height: calc(100% - 2rem);
}

#pesquisaModal .modal-body, #janssenModal .modal-body {
    background: url(../imgs/fundoModais.png);
    background-repeat: no-repeat;
    background-position-x: 120%;
    background-position-y: 0;
    background-size: 60%;
}

.splide__slide {
    color: white;
}

.carousel-item img{
    width: 100%;
}
#modalCarouselTxtImg .modal-dialog {
    max-width: calc(100% - 30px);
}
#modalCarouselTxtImg .modal-content {
    position: relative;
    background: none;
    border: none;
    border-radius: 0.5rem;
    width: 550px;
    height: auto;
    max-height: calc(100vh - 3.5rem);
}


#modalCarouselTxtImg .modal-body {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px;
    background: none;
}

#modalCarouselTxtImg .carousel-item {
    background: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#modalCarouselTxtImg .carousel-item img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    margin-bottom: -1px;
}
#modalCarouselTxtImg .carousel-item .textCarousel{
    display: flex;
    background: #25508E;
    padding: 0px 80px 25px;
    min-height: 200px;
    align-items: center;
}

#modalCarouselTxtImg .carousel-item p{
    color: #fff;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0;
}
#modalCarouselTxtImg .carousel-item .adressCarousel {
    padding: 10px;
    text-align: center;
    width: 100%;
    min-height: 44px;
}

#modalCarouselTxtImg .carousel-item .adressCarousel.bgBlueFooter {
    background: #25508E;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


#modalCarouselTxtImg .carousel-item a{
    font-weight: 900;
    text-transform: uppercase;
    background: #FFFFFF;
    text-decoration: none;
}
#modalCarouselTxtImg .carousel {
    background: none !important;
}

#modalCarouselTxtImg .carousel-control-next-icon, #modalCarouselTxtImg .carousel-control-prev-icon {
    width: 30px;
    height: 30px;
}
#modalCarouselTxtImg .carousel-control-next, #modalCarouselTxtImg .carousel-control-prev {
    width: 10%;
    height: 280px;
    top: auto;
    bottom: 0;
}

#modalCarouselTxtImg .carousel-indicators {
    bottom: 40px;
}

#modalCarouselTxtImg .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 20px;
    border-top: 0;
    border-bottom: 0;
}
#modalCarouselTxtImg .carousel-indicators .active {
    background: #3F93F0;
}
#modalCarouselTxtImg .carousel-indicators li{
    opacity: 1;
}



#modalCarouselPipeline .modal-dialog {
    width: var(--widthModalPipeline);
    max-height: var(--heightModalPipeline);
}
#modalCarouselPipeline .modal-content {
    position: relative;
    background: none;
    border: none;
    border-radius: 0.5rem;
    width: var(--widthModalPipeline);
    height: auto;
    max-height: var(--heightModalPipeline);
}
#modalCarouselPipeline .carousel-control-prev {
    left: -35px;
}
#modalCarouselPipeline .carousel-control-next {
    right: -35px;
}

#modalCarouselPipeline .modal-body {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px;
    background: none;
    width: var(--widthModalPipeline);
    max-height: var(--heightModalPipeline);
}

#modalCarouselPipeline .carousel {
    width: var(--widthModalPipeline);
    max-height: var(--heightModalPipeline);
}
#modalCarouselPipeline .carousel-inner {
    width: var(--widthModalPipeline);
    max-height: var(--heightModalPipeline);
}
#modalCarouselPipeline .carousel-item {
    background: #000;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#modalCarouselPipeline .carousel-item img {
    border-radius: 10px;
    margin-bottom: -1px;
    width: var(--widthModalPipeline);
    height: var(--heightModalPipeline);
    object-fit: contain;

}
#modalCarouselPipeline .carousel-item .textCarousel{
    display: flex;
    background: #25508E;
    padding: 0px 80px 25px;
    min-height: 200px;
    align-items: center;
}

#modalCarouselPipeline .carousel-item p{
    color: #fff;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0;
}
#modalCarouselPipeline .carousel-item .adressCarousel {
    padding: 10px;
    text-align: center;
    width: 100%;
}
#modalCarouselPipeline .carousel-item a{
    font-weight: 900;
    text-transform: uppercase;
    background: #FFFFFF;
    text-decoration: none;
}
#modalCarouselPipeline .carousel {
    background: none !important;
}

#modalCarouselPipeline .carousel-control-next-icon, #modalCarouselPipeline .carousel-control-prev-icon {
    width: 30px;
    height: 30px;
}
#modalCarouselPipeline .carousel-control-next, #modalCarouselPipeline .carousel-control-prev {
    width: 40px;
    height: calc(100%);
    top: auto;
    bottom: 0;
}

#modalCarouselPipeline .carousel-indicators {
    bottom: -35px;
}
#modalCarouselPipeline .btn-close {
    background: url(../imgs/btn-fecharWhiteShadow.svg) center no-repeat;
    background-size: 85%;
}
#modalCarouselPipeline .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 20px;
    border-top: 0;
    border-bottom: 0;
}
#modalCarouselPipeline .carousel-indicators .active {
    background: #3F93F0;
}
#modalCarouselPipeline .carousel-indicators li{
    opacity: 1;
}