@font-face {
    font-family: 'Gotham HTF';
    src: url('GothamHTF-Thin.eot');
    src: url('GothamHTF-Thin.eot?#iefix') format('embedded-opentype'),
        url('GothamHTF-Thin.woff2') format('woff2'),
        url('GothamHTF-Thin.woff') format('woff'),
        url('GothamHTF-Thin.ttf') format('truetype'),
        url('GothamHTF-Thin.svg#GothamHTF-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('GothamHTF-XLight.eot');
    src: url('GothamHTF-XLight.eot?#iefix') format('embedded-opentype'),
        url('GothamHTF-XLight.woff2') format('woff2'),
        url('GothamHTF-XLight.woff') format('woff'),
        url('GothamHTF-XLight.ttf') format('truetype'),
        url('GothamHTF-XLight.svg#GothamHTF-XLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('GothamHTF-Light.eot');
    src: url('GothamHTF-Light.eot?#iefix') format('embedded-opentype'),
        url('GothamHTF-Light.woff2') format('woff2'),
        url('GothamHTF-Light.woff') format('woff'),
        url('GothamHTF-Light.ttf') format('truetype'),
        url('GothamHTF-Light.svg#GothamHTF-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('GothamHTF-Book.eot');
    src: url('GothamHTF-Book.eot?#iefix') format('embedded-opentype'),
        url('GothamHTF-Book.woff2') format('woff2'),
        url('GothamHTF-Book.woff') format('woff'),
        url('GothamHTF-Book.ttf') format('truetype'),
        url('GothamHTF-Book.svg#GothamHTF-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('GothamHTF-Bold.eot');
    src: url('GothamHTF-Bold.eot?#iefix') format('embedded-opentype'),
        url('GothamHTF-Bold.woff2') format('woff2'),
        url('GothamHTF-Bold.woff') format('woff'),
        url('GothamHTF-Bold.ttf') format('truetype'),
        url('GothamHTF-Bold.svg#GothamHTF-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('GothamHTF-Medium.eot');
    src: url('GothamHTF-Medium.eot?#iefix') format('embedded-opentype'),
        url('GothamHTF-Medium.woff2') format('woff2'),
        url('GothamHTF-Medium.woff') format('woff'),
        url('GothamHTF-Medium.ttf') format('truetype'),
        url('GothamHTF-Medium.svg#GothamHTF-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('GothamHTF-Black.eot');
    src: url('GothamHTF-Black.eot?#iefix') format('embedded-opentype'),
        url('GothamHTF-Black.woff2') format('woff2'),
        url('GothamHTF-Black.woff') format('woff'),
        url('GothamHTF-Black.ttf') format('truetype'),
        url('GothamHTF-Black.svg#GothamHTF-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('GothamHTF-ThinItalic.eot');
    src: url('GothamHTF-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamHTF-ThinItalic.woff2') format('woff2'),
        url('GothamHTF-ThinItalic.woff') format('woff'),
        url('GothamHTF-ThinItalic.ttf') format('truetype'),
        url('GothamHTF-ThinItalic.svg#GothamHTF-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('GothamHTF-XLightItalic.eot');
    src: url('GothamHTF-XLightItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamHTF-XLightItalic.woff2') format('woff2'),
        url('GothamHTF-XLightItalic.woff') format('woff'),
        url('GothamHTF-XLightItalic.ttf') format('truetype'),
        url('GothamHTF-XLightItalic.svg#GothamHTF-XLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('GothamHTF-LightItalic.eot');
    src: url('GothamHTF-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamHTF-LightItalic.woff2') format('woff2'),
        url('GothamHTF-LightItalic.woff') format('woff'),
        url('GothamHTF-LightItalic.ttf') format('truetype'),
        url('GothamHTF-LightItalic.svg#GothamHTF-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('GothamHTF-BookItalic.eot');
    src: url('GothamHTF-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamHTF-BookItalic.woff2') format('woff2'),
        url('GothamHTF-BookItalic.woff') format('woff'),
        url('GothamHTF-BookItalic.ttf') format('truetype'),
        url('GothamHTF-BookItalic.svg#GothamHTF-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('GothamHTF-BoldItalic.eot');
    src: url('GothamHTF-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamHTF-BoldItalic.woff2') format('woff2'),
        url('GothamHTF-BoldItalic.woff') format('woff'),
        url('GothamHTF-BoldItalic.ttf') format('truetype'),
        url('GothamHTF-BoldItalic.svg#GothamHTF-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('GothamHTF-BlackItalic.eot');
    src: url('GothamHTF-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamHTF-BlackItalic.woff2') format('woff2'),
        url('GothamHTF-BlackItalic.woff') format('woff'),
        url('GothamHTF-BlackItalic.ttf') format('truetype'),
        url('GothamHTF-BlackItalic.svg#GothamHTF-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'GothamHTF';
    src: url('GothamHTF-Bold.otf');
    font-weight: bold;
    font-style: normal;
}