@font-face {
    font-family: 'Roboto';
    src: url('ROBOTOCONDENSED-BOLD.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('ROBOTOCONDENSED-REGULAR_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

