/* -------------- GERAL ------------- */
html {
  scroll-behavior: smooth;
    --logoClientSize: 200px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
}

img {
    height:intrinsic;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.primo{
    max-height: 28px;
    top: 0;
    right: 0;
    position: absolute;
}

.margin-auto{
    margin: 0 auto;
}
.margin-bot{
    margin-bottom: 15px;
}
.title-color{
    color: #909090;
    font-weight: bold;
}

.rownopad {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    padding-left: 0;
    padding-right: 0;
}
.rownopadC {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
}

.desk {
    display: block;
}

.mobile {
    display: none;
}

.nopad {
    padding-left: 0;
    padding-right: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.popLoad {
    position: fixed;
    background: rgba(230,230,230,0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    overflow: hidden;
    transition: all 0.3;
}
.popLoad .spinner-border {
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto auto;
    color: #f76300;
    border-width: .3rem;
    transition: all 0.3;
}

/*////////////////////////// CSS //////////////////////////*/

.boxLogin {
    width: calc(100% - 30px);
    max-width: 600px;
}

.logoClient {
    width: var(--logoClientSize);
    /* height: var(--logoClientSize); */
    padding: 15px;
}

.logoClient img {
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
}

.formLogin {
    width: calc(100% - var(--logoClientSize) - 60px);
    /* margin-left: 60px; */
}
.formLogin input{
    border: none;
    border-bottom: 1px solid #909090;
    border-radius: 0px;
    text-align: center;
    font-size: 1.3rem;
    height: 2.5rem;
}

.formLogin .eachInput {
    margin-bottom: 30px;
}

.formLogin input:hover, .formLogin input:active, .formLogin input:focus, .formLogin input:focus-within {
    box-shadow: none;
    outline: none;
}
.formLogin .btn {
    background: #f76300;
    border-radius: 50px;
    border: 0px;
    color: white;
    text-transform: uppercase;
    padding: 4px 25px;
}

.formLogin label {
    padding: 5px 0 20px;
    color: #909090;
    margin: 0.5rem auto;
    font-weight: bold;
}
.nav-tabs {
    border-bottom: 0;
    padding-left: 10px;
}
.nav-tabs .nav-link {
    background: url(../imgs/tab.png);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 170px;
    height: 62px;
    line-height: 62px;
    padding: 0;
    transition: all 0.3s;
    border: 0;
    color: #909090;
    font-size: 0.9em;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: url(../imgs/tabHover.png);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 0.3s;
    border: 0;
    color: #f76300;
}

.table {
    width: 100%;
    color: #909090 !important;
}

thead, tbody {
    border-bottom: 1px solid #909090;
}
tbody {
    margin-bottom: 40px;
}
.data {
    position: relative;
    padding-top: 15px;
}
td {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    max-width: calc(25vw - 30px);
    }
th {
    font-size: 1.2rem;
    font-weight: normal;
}

.btns {
    position: absolute;
    right: -100px;
    width: 80px;
    top: 180px;
}
.btns .btn:hover, .btns .btn:active, .btns .btn:visited, .btns .btn:focus, .btns .btn:focus-within {
    outline: none;
    box-shadow: none;
    opacity: 0.7;
    transform: scale(0.97);
    transition: all 0.3s;
}
.btns .btn, .btns .btn img {
    padding: 0;
    width: 100%;
}